<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>


<body>
   {{>navbar}}

   <!--main header-->
   <div class = "container-fluid main_header">
     <div class = "row">
        <div class = "col-md-10 col-12 mx-auto">
            <div class="row">
             <!--left side div-->
             <div class = "col-md-12 col-12 main_header_left align-items-center">
                <figure class ="errimg">
                    <img src="images/a.png" alt="Abhay" class="img-fluid" title="Abhay Singh Rathaur">
                </figure>

              <p>Welcome To My World </p>
              <h1>{{errMsg}}</h1>
              <a href ="/" target ="_abhay"><button>Go Back</button></a>
             </div> 
            </div>
        </div>
    </div>  

</div>
<!--Footer Code-->
{{>footer}}
</body>
</html>