<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>


<body>
   {{>navbar}}

   <!--main header-->
   <div class = "container-fluid main_header">
     <div class = "row">
        <div class = "col-md-10 col-12 mx-auto">
            <div class="row">
             <!--left side div-->
             <div class = "col-md-6 col-12 main_header_right">
                <figure>
                    <img src="Images/myself.jpg" alt="Abhay" class="img-fluid" title="Abhay Singh Rathaur">
                </figure>
             </div> 

             
             <div class = "col-md-6 col-12 main_header_left">
              <p>Welcome To My World </p>
              <h1>I AM A <span class="text-clr">Mern Stack Developer</span> and Programmer </h1>
              <a href ="https://www.linkedin.com/in/abhay-singh-rathaur-86b804220" target ="_abhay"><button>About Me</button></a>
             </div> 
            </div>
        </div>
    </div>  

</div>
<!--Footer Code-->
{{>footer}}
</body>
</html>